In [9]:
import os

import pandas as pd
import openai

#https://www.kaggle.com/datasets/kyanyoga/sample-sales-data

In [2]:
df = pd.read_csv("sales_data_sample.csv")

In [118]:
df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME
0,10107,30,95.70,2871.00,2/24/2003 0:00,1,2,2003,Motorcycles,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,Yu,Kwai
1,10121,34,81.35,2765.90,5/7/2003 0:00,2,5,2003,Motorcycles,26.47.1555,59 rue de l'Abbaye,Reims,NaN,51100,France,Henriot,Paul
2,10134,41,94.74,3884.34,7/1/2003 0:00,3,7,2003,Motorcycles,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,NaN,75508,France,Da Cunha,Daniel
3,10145,45,83.26,3746.70,8/25/2003 0:00,3,8,2003,Motorcycles,6265557265,78934 Hillside Dr.,Pasadena,CA,90003,USA,Young,Julie
4,10159,49,100.00,5205.27,10/10/2003 0:00,4,10,2003,Motorcycles,6505551386,7734 Strong St.,San Francisco,CA,NaN,USA,Brown,Julie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,2244.40,12/2/2004 0:00,4,12,2004,Ships,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,NaN,28034,Spain,Freyre,Diego
2819,10373,29,100.00,3978.51,1/31/2005 0:00,1,1,2005,Ships,981-443655,Torikatu 38,Oulu,NaN,90110,Finland,Koskitalo,Pirkko
2820,10386,43,100.00,5417.57,3/1/2005 0:00,1,3,2005,Ships,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,NaN,28034,Spain,Freyre,Diego
2821,10397,34,62.24,2116.16,3/28/2005 0:00,1,3,2005,Ships,61.77.6555,1 rue Alsace-Lorraine,Toulouse,NaN,31000,France,Roulet,Annette
2822,10414,47,65.52,3079.44,5/6/2005 0:00,2,5,2005,Ships,6175559555,8616 Spinnaker Dr.,Boston,MA,51003,USA,Yoshido,Juri

In [120]:
df.groupby("QTR_ID").sum("SALES")

        ORDERNUMBER  QUANTITYORDERED  PRICEEACH       SALES  MONTH_ID  YEAR_ID
QTR_ID
1           6829804            23485   55446.88  2350817.73      1313  1332832
2           5758370            20316   46774.20  2048120.30      2758  1124258
3           5146508            17118   42357.76  1758910.81      4054  1007828
4          11225699            38148   91589.23  3874780.01     11897  2191852

In [60]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [65]:
temp_db = create_engine('sqlite:///:memory:', echo=True)

In [66]:
data = df.to_sql(name='Sales',con=temp_db)

2023-01-13 10:35:37,146 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")
2023-01-13 10:35:37,147 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-01-13 10:35:37,148 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")
2023-01-13 10:35:37,148 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-01-13 10:35:37,150 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-13 10:35:37,152 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT
)


2023-01-13 10:35:37,152 INFO sqlalchemy.engine.Engine [no key 0.00063s] ()
2023-01-13 10:35:37,154 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")
2023-01-13 10:35:37,154 INFO sqlalchemy.engine.Engine [no key 0.00060s] ()
2023-01-13 10:35:37,155 INFO sqlalchemy.engine.Engine COMMIT
2023-01-13 10:35:37,161 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-13 10:35:37,191 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "SALES", "ORDERDATE", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "PHONE", "ADDRESSLINE1", "CITY", "STATE", "POSTALCODE", "COUNTRY", "CONTACTLASTNAME", "CONTACTFIRSTNAME") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-01-13 10:35:37,192 INFO sqlalchemy.engine.Engine [generated in 0.02465s] ((0, 10107, 30, 95.7, 2871.0, '2/24/2003 0:00', 1, 2, 2003, 'Motorcycles', '2125557818', '897 Long Airport Avenue', 'NYC', 'NY', '10022', 'USA', 'Yu', 'Kwai'), (1, 10121, 34, 81.35, 2765.9, '5/7/2003 0:00', 2, 5, 2003, 'Motorcycles', '26.47.1555', "59 rue de l'Abbaye", 'Reims', None, '51100', 'France', 'Henriot', 'Paul'), (2, 10134, 41, 94.74, 3884.34, '7/1/2003 0:00', 3, 7, 2003, 'Motorcycles', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', 'Paris', None, '75508', 'France', 'Da Cunha', 'Daniel'), (3, 10145, 45, 83.26, 3746.7, '8/25/2003 0:00', 3, 8, 2003, 'Motorcycles', '6265557265', '78934 Hillside Dr.', 'Pasadena', 'CA', '90003', 'USA', 'Young', 'Julie'), (4, 10159, 49, 100.0, 5205.27, '10/10/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505551386', '7734 Strong St.', 'San Francisco', 'CA', None, 'USA', 'Brown', 'Julie'), (5, 10168, 36, 96.66, 3479.76, '10/28/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505556809', '9408 Furth Circle', 'Burlingame', 'CA', '94217', 'USA', 'Hirano', 'Juri'), (6, 10180, 29, 86.13, 2497.77, '11/11/2003 0:00', 4, 11, 2003, 'Motorcycles', '20.16.1555', '184, chausse de Tournai', 'Lille', None, '59000', 'France', 'Rance', 'Martine'), (7, 10188, 48, 100.0, 5512.32, '11/18/2003 0:00', 4, 11, 2003, 'Motorcycles', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', 'Bergen', None, 'N 5804', 'Norway', 'Oeztan', 'Veysel')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 2116.16, '3/28/2005 0:00', 1, 3, 2005, 'Ships', '61.77.6555', '1 rue Alsace-Lorraine', 'Toulouse', None, '31000', 'France', 'Roulet', 'Annette'), (2822, 10414, 47, 65.52, 3079.44, '5/6/2005 0:00', 2, 5, 2005, 'Ships', '6175559555', '8616 Spinnaker Dr.', 'Boston', 'MA', '51003', 'USA', 'Yoshido', 'Juri'))
2023-01-13 10:35:37,205 INFO sqlalchemy.engine.Engine COMMIT
2023-01-13 10:35:37,206 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-01-13 10:35:37,206 INFO sqlalchemy.engine.Engine [raw sql] ()

In [75]:
with temp_db.connect() as conn:
    result = conn.execute(text("Select ORDERNUMBER, SALES from Sales ORDER BY SALES DESC LIMIT 1"))

2023-01-13 10:36:17,671 INFO sqlalchemy.engine.Engine Select ORDERNUMBER, SALES from Sales ORDER BY SALES DESC LIMIT 1
2023-01-13 10:36:17,678 INFO sqlalchemy.engine.Engine [generated in 0.00748s] ()

In [76]:
result.all()

[(10407, 14082.8)]

In [12]:
openai.api_key = os.getenv("OPENAI_API_KEY")

In [ ]:
### Postgres SQL tables, with their propoperties:
#
# Employee(id, name, department_id)
# Department(id, name, address)
# Salary_Payments(id, employee_id, amount, date)
#
### A query to list the names of the departments which employed more than 10 employees in the last 3 months
SELECT

In [47]:
def create_table_definition_prompt(df):
    """
    This function returns a prompt that informs GPT that we want to work with SQL Tables
    """

    prompt = '''### sqlite SQL table, with its properties:
#
# Sales({})
#
'''.format(",".join(str(x) for x in df.columns))
    
    return prompt

In [48]:
create_table_definition_prompt(df)

'### sqlite SQL table, with its properties:\n#\n# Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME)\n#\n'

In [49]:
def prompt_input():
    text = input("Enter information you want to obtain:")
    return text

In [40]:
text = prompt_input()

Enter information you want to obtain:What is the order with the highest sales?

In [50]:
text

'What is the order with the highest sales?'

In [53]:
def combine_pompts(df, query_prompt):
    definition = create_table_definition_prompt(df)
    query_init_string = f"### A query to answer: {query_prompt}\nSELECT"
    return definition+query_init_string

In [55]:
combine_pompts(df, text)

'### sqlite SQL table, with its properties:\n#\n# Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME)\n#\n### A query to answer: What is the order with the highest sales?\nSELECT'

In [56]:
response = openai.Completion.create(
  model="code-davinci-002",
  prompt=combine_pompts(df, text),
  temperature=0,
  max_tokens=150,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ";"]
)

In [57]:
response

<OpenAIObject text_completion id=cmpl-6YAj2op1cHIQHzC8dMmokKfaRSKXq at 0x7ff2181af4a0> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "text": " ORDERNUMBER, SALES FROM Sales ORDER BY SALES DESC LIMIT 1"
    }
  ],
  "created": 1673602400,
  "id": "cmpl-6YAj2op1cHIQHzC8dMmokKfaRSKXq",
  "model": "code-davinci-002",
  "object": "text_completion",
  "usage": {
    "completion_tokens": 17,
    "prompt_tokens": 117,
    "total_tokens": 134
  }
}

In [114]:
def handle_response(response):
    query = response["choices"][0]["text"]
    if query.startswith(" "):
        query = "Select"+ query
    return query

In [115]:
handle_response(response)

'Select ORDERNUMBER, SALES FROM Sales ORDER BY SALES DESC LIMIT 1'

In [116]:
with temp_db.connect() as conn:
    result = conn.execute(text(handle_response(response)))

2023-01-13 10:43:59,612 INFO sqlalchemy.engine.Engine Select ORDERNUMBER, SALES FROM Sales ORDER BY SALES DESC LIMIT 1
2023-01-13 10:43:59,617 INFO sqlalchemy.engine.Engine [cached since 431.9s ago] ()

In [117]:
result.all()

[(10407, 14082.8)]